<h1>新規投稿ページ</h1>
<%= form_with url: "/posts", method: :post, local: true do |form| %>
  <%= form.text_field :content %>
  <%= form.submit '投稿する' %>
<% end %>
<% # urlに、内容がリクエストとして送信される(action属性) %>
<% # HTTPメソッドをpostにする(method) %>